/* 登录顶部区域-START */
.login-header .title {
    color: #0084ff;
}
.login-header .slogan {
    padding-bottom: 20px;
}
/* 登录顶部区域-END */

/* 登录表单-START */
.login-form {
    padding: 30px;
}
.login-form .control-label {
    padding-right: 0;
    text-align: left;
}
.login-form .desc {
    margin-top: 10px;
    background-color: #f6f6f6;
    padding: 10px;
    color: gray;
}
/* 登录表单-END */

/* 社交账号登录-START */
.login-social {
    margin-top: 20px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.login-social .right span {
    padding: 0 10px;
}
.login-social .iconfont {
    font-size: 18px;
  }
  .login-social .icon-wechat {
    color: #45C45D;
  }
  .login-social .icon-qq {
    color: #4CAFE9;
  }
  .login-social .icon-weibo {
    color: #D81E06;
  }
/* 社交账号登录-END */

/* 页脚-START */
.login-footer {
    margin-top: 30px;
    text-align: center;
}
.login-footer a,
.login-footer a:hover {
    padding: 10px;
    text-decoration: none;
    color: gray;
}
/* 页脚-END */